
= link_to group_messages_path(group) do
  .chat__space__side__group__name
    = group.group_name
  .chat__space__side__group__message
    = group.messages.last.try(:text)
    - if group.messages.last.try(:text).blank?
      まだメッセージがありません

