.chat
  .chat__space
    .chat__space__side
      .chat__space__side__account
        .chat__space__side__account__user
          %span
            = current_user.name
        .chat__space__side__account--action
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o.fa-lg
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.fa-lg
      .chat__space__side__group
        = render partial: :group, collection: @groups, as: :group
