$light-blue: #38aef0;
$white: #ffffff;
$very-deep-blue: #2f3e51;
$deep-blue: #253141;
$gray1: #aaaaaa;
$gray2: #999999;
$gray3: #dddddd;
$light-gray: #eeeeee;
$light-gray2: #cccccc;
$deep-gray: #333333;
$neary-black: #434a54;
$light-red: #d65f4c;
$red: #ff0000;
$pinkred: #f05050;
