$light-blue: #38aef0;
$white: #ffffff;
$very-deep-blue: #2f3e51;
$deep-blue: #253141;
$gray1: #aaaaaa;
$gray2: #999999;
$gray3: #dddddd;
$light-gray: #eeeeee;
$deep-gray: #333333;
$neary-black: #434a54;


#chat {
  min-width: 960px;
  height: 100%;
  .create_chat {
    position: absolute;
    background-color: $light-blue;
    color: white;
  	text-align: center;
  }

  .chat {
    min-width: 960px;
    height: 100%;
    &-side {
      height: 100vh;
      width: 300px;
      color: $white;
      background-color: $very-deep-blue;
      float: left;
      .chat-myaccount {
        background-color: $deep-blue;
        font-weight: bold;
        height: 100px;
        line-height: 100px;
        &__user {
          padding-left: 20px;
          font-size: 16px;
          float: left;
        }
        &__action {
          padding-right: 20px;
          display: inline-block;
          float: right;
          .fa {
            color: $white;
          }
        }
      }
    }

      .chat-group {
        background-color: $very-deep-blue;
        padding: 20px;
        &__name {
          font-size: 15px;
          padding-bottom: 5px;
        }
        &__message {
          font-size: 11px;
          padding-bottom: 40px;
        }
      }

    .chat-space {
      float: left;
      width: calc(100% - 300px);
      height: 100%;
      .chat-header {
        height: 100px;
        padding-left: 40px;
        padding-right: 40px;
        border-bottom: 1px solid $light-gray;
        &__left {
          &--group {
            padding-top: 20px;
            font-size: 20px;
            color: $deep-gray;
            line-height: 50px;
          }
          &--member {
            font-size: 12px;
            color: $gray2;
            line-height: 20px;
          }
        }
        &__right--edit__btn {
          font-size: 14px;
          display: inline-block;
          position: absolute;
          top: 1px;
          right: 40px;
          padding: 0 20px;
          margin: 28px 0;
          line-height: 40px;
          border: solid 2px $light-blue;
          color: $light-blue;
          text-decoration: none;
          .edit_btn {
            color: $light-blue;
            text-decoration: none;
          }
        }
      }

      .chat-body {
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
        height: calc(100vh - 197px);
        background-color: $gray1;
        &__main {
          padding-top: 46px;
          .chat-body__user {
            font-size: 16px;
            font-weight: bold;
            color: $neary-black;
          }
          .chat-body__time {
            margin-left: 12px;
            color: $gray2;
            font-size: 12px;
          }
        }
        &__message {
          font-size: 14px;
          color: $neary-black;
          margin: 10px 0 40px 0;
        }
      }

      .chat-footer {
        width: calc(100% - 300px);
        padding: 20px 0;
        position: absolute;
        right: 0;
        background-color: $gray3;
        &__message {
          margin-left: 40px;
          display: inline-block;
          width: 80%;
          min-width: calc(100% - 240px);
          max-width: calc(100% - 240px);
          .textarea {
            width: 100%;
            display: inline-block;
            height: 20px;
            border-style: none;
            resize: none;
            padding: 15px 10px;
            color: $neary-black;
            font-size: 16px;
          }
          .file {
            display: none;
          }
          .fa {
            position: absolute;
            top: 20px;
            right: 180px;
            padding: 20px 10px;
          }
        }
        &__send {
          .submit {
            width: 100px;
            height: 56px;
            color: $white;
            background-color: $light-blue;
            border-style: none;
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 50px;
          }
        }
      }

    }
  }
}
